<ion-view view-title="">
    <div id="background"></div>

    <ion-header-bar class="bar-dark" style="background: none;">
        <div class="buttons buttons-left header-item"><span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </span></div>
        <div class="h1 title" style="text-align: center;">Alarm Systeem</div>
    </ion-header-bar>


    <!-- https://dribbble.com/shots/2452219-Login/attachments/477796 -->
    
    <ion-content scroll="false">
        <div ng-if="vera_id">
            <div class="lock-status">
                <div class="lock-icon">
                    <span ng-if="lockStatus != 'Uitgeschakeld' && lockStatus != ''""><i class="icon ion-locked"></i></span>
                    <span ng-if="lockStatus == 'Uitgeschakeld'"><i class="icon ion-unlocked"></i></span>
                    <span ng-if="lockStatus == ''"><ion-spinner class='big' icon="ripple"></ion-spinner></span>
                </div>
                <div class="lock-status-armed">
                    <span ng-if="lockStatus != 'Uitgeschakeld' && lockStatus != ''">Ingeschakeld</span>
                    <span ng-if="lockStatus == 'Uitgeschakeld'">Uit</span>
                </div>
                <div class="lock-status-text" ng-bind="lockStatus"></div>
            </div>
            
            <div>
                <div class="lock-buttons">
                    <div class="lock-status-button" ng-click="arm_home()" ng-show="lockStatus == 'Uitgeschakeld'">
                        Aanwezig
                    </div>
                    <div class="lock-status-button" ng-click="arm_full()" ng-show="lockStatus == 'Uitgeschakeld'">
                        Afwezig
                    </div>
                    
                    <div class="lock-status-button" ng-click="disarm()" ng-show="lockStatus != 'Uitgeschakeld' && lockStatus != ''">
                        Uitschakelen
                    </div>
                </div>
            </div>
                    
            <div class="code hidden">
                <div ng-show="atChar < 5">
                    <div class="text" ng-bind-html="unlockText"></div>
                    <div class="char char1" ng-class="{ active: atChar == 1, filled: atChar > 1 }"></div>
                    <div class="char char2" ng-class="{ active: atChar == 2, filled: atChar > 2 }"></div>
                    <div class="char char3" ng-class="{ active: atChar == 3, filled: atChar > 3 }"></div>
                    <div class="char char4" ng-class="{ active: atChar == 4, filled: atChar > 4 }"></div>
                </div>
                <div ng-show="atChar == 5" style="color: white;">
                    Alarm uitschakelen...<br /><br />
                    <ion-spinner icon="ios"></ion-spinner>
                </div>
            </div>

            <div class="keypad hidden">
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('1')">1</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('2')">2</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('3')">3</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('4')">4</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('5')">5</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('6')">6</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('7')">7</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('8')">8</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('9')">9</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="cancelCode()" class="cancel">Annuleer</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed('0')">0</button>
                <button my-touchstart="buttonDown($event)" my-touchend="buttonUp($event)" ng-click="buttonPressed()"><i class="icon ion-backspace"></i></button>
            </div>
        </div>
        
        <div ng-if="!vera_id">
            <div class="noconnection">
                Er is nog geen connectie met Vera.
                <div class="button" ng-click='gotoSettings()'>
                    Instellingen
                </div>
            </div>
        </div>
            
    </ion-content>
</ion-view>
