/* Empty. Add your own CSS if you like */

ion-header-bar.bar.bar-stable {
  background-color: transparent;
  background-image: none !important;
}

#background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00cbff+0,b26ebc+100 */
    background: #00cbff; /* Old browsers */
    background: linear-gradient(135deg, #00cbff 0%,#FF54B0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100vh;
    width: 100vw;
    float: left;
}

.keypad {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    overflow: auto;
    position: absolute;
    bottom: 0;
    width: 100vw;
    transition: transform 0.5s;
}

.keypad button {
    width: 33.333%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    background: transparent;
    float: left;
    height: 80px;
    color: white;
    font-size: 26px;
    font-weight: 300;
}

.keypad button.active {
    background: rgba(0, 0, 0, 0.1);
    color: rgb(200, 200, 200);
}

.keypad button.cancel {
    font-size: 16px;
}

div.code {
    text-align: center;
    position: absolute;
    top: calc((100vh - 320px - 44px) / 2 - 42px);
    width: 100%;
    transition: transform 0.5s;
}

div.code .text {
    color: white;
    margin-bottom: 2vh;
}

div.code .char {
    display: inline-block;
    width: 32px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    height: 50px;
    vertical-align: bottom;
    font-size: 26px;
    line-height: 48px;
    color: white;
}

div.code .char.active {
    border-bottom: 3px solid rgba(255, 255, 255, 0.9);
}

div.code .char.filled::before {
    content: "●";
}

div.code .char:last-child {
    margin-right: 0;
}

div.lock-status {
    position: relative;
    text-align: center;
    height: 60vh;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    transition: transform 0.5s;
}

div.lock-status div.lock-icon {
    border: 1.6vw solid white;
    color: white;
    border-radius: 35vw;
    display: inline-block;
    width: 35vw;
    height: 35vw;
    text-align: center;
    line-height: calc(35vw - 1.6vw - 1.6vw);
    font-size: 20vw;
    opacity: 0.7;
    margin-bottom: 4.6vw;
}

.lock-status-armed {
    text-align: center;
    font-size: 10vw;
    color: white;
    opacity: 0.8;
    margin: 1vw;
    line-height: 10vw;
    height: 10vw;
}

.lock-status-text {
    text-align: center;
    font-size: 6vw;
    height: 6vw;
    color: white;
    opacity: 0.6;
    margin-bottom: 10vh;
    padding: 2px;
}

.lock-buttons {
    height: 30vh;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    transition: opacity 0.5s, transform 0.5s;
}

.lock-status-button {
    margin: 0 20vw;
    margin-bottom: 4vw;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
    padding: 4vw 10vw;
    font-size: 6vw;
    line-height: 6vw;
    text-align: center;
}

.lock-status-button:active {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.6);
}

.lock-buttons.hidden {
    opacity: 0;
    transform: translatey(-320px);
}

.lock-status.hidden {
    transform: translateX(-100%);
}

.code.hidden {
    transform: translateX(100%);
}

.keypad.hidden {
    transform: translatey(320px);    
}

.noconnection {
    margin-top: 20vh;
    color: white;
    text-align: center;
}

.noconnection .button {
    margin-top: 20px;  
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
    padding: 4vw 10vw;
    font-size: 6vw;
    line-height: 6vw;
    text-align: center;
}
.noconnection .button:active {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.6);
}

.spinner.big {
    position: relative;
    top: 2.4vw;
}

.spinner.big svg {
    stroke: white;
    width: 20vw;
    height: 20vw;
}

.code .spinner svg {
    stroke: white;
}